<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
<body>

    <div style="text-align:center; padding-top:20px;"> 
        {% if request.user.is_authenticated %}
            <p> Your Username is: {{user.username}}  </p>
            <a href="{% url 'account_logout' %}"> Logout </a>
        {% else %}
            <p> You are not authenticated </p>
            <a href="{% url 'account_login' %}"> Login </a>
        {% endif %}
    </div>

</body>
</html>
